div.nqh, div.lof {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
div.nqh {left: 0}
div.lof {right: 0}

div.divName {
  position: absolute;
  display: inline-box;
  font-size: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.header {
  position: relative;
  width: 100%;
  height: 20%;
}
